* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arvo, Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #fff;
  background-color: #f1f1f1;
  overflow: hidden;
}
h1,
h2,
h3 {
  font-weight: normal;
}
h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  padding: 5px;
}
h3 {
  padding: 0 3em 0 3em;
}
select {
  background: #fff;
  font-size: 1em;
  color: #41b972;
  font-family: Arvo, Helvetica, Arial, sans-serif;
}
input {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: Arvo, Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  padding: 10px;
  border: 2px #41b972 solid;
  background-color: #fff;
  color: #298a51;
outlinenone
}
input[type=submit] {
  color: #fff;
  cursor: pointer;
  background-color: #41b972;
}
input[type=submit]hover {
  background-color: #298a51;
  border2px: solid #298a51;
}
.login {
  position: absolute;
  cursor: pointer;
  font-size: 0.8em;
  top: 10px;
  right: 10px;
  width: auto;
  text-align: center;
  background: #41b972;
  padding: 0em 0.5em 0em 0.5em;
  margin: 0;
  line-height: 0.2em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.loginhover {
  background: #298a51;
}
.footer {
  color: #52bf7f;
  position: absolute;
  bottom: 0px;
  right: 1em;
  font-size: 0.9em;
}
.box {
  background-color: #41b972;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.5s cubic-bezier(0.3, 1.08, 0.18, 1.08);
  -moz-transition: all 0.5s cubic-bezier(0.3, 1.08, 0.18, 1.08);
  -o-transition: all 0.5s cubic-bezier(0.3, 1.08, 0.18, 1.08);
  -ms-transition: all 0.5s cubic-bezier(0.3, 1.08, 0.18, 1.08);
  transition: all 0.5s cubic-bezier(0.3, 1.08, 0.18, 1.08);
}
.box .box-footer {
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 2em;
  text-align: center;
  -webkit-border-radius: 0px 0px 2px 2px;
  border-radius: 0px 0px 2px 2px;
  background: #fff;
}
.box .box-footer .button {
  font-size: 1em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #41b972;
  padding: 0.7em;
  color: #fff;
  text-decoration: none;
}
.modal .greyout {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  top: 0px;
  left: 0px;
  background-color: #111;
  z-index: 1000;
  cursor: pointer;
  -webkit-animation: modal-fade-in 1s cubic-bezier(0.3, 1.08, 0.18, 1.08);
  -moz-animation: modal-fade-in 1s cubic-bezier(0.3, 1.08, 0.18, 1.08);
  -o-animation: modal-fade-in 1s cubic-bezier(0.3, 1.08, 0.18, 1.08);
  -ms-animation: modal-fade-in 1s cubic-bezier(0.3, 1.08, 0.18, 1.08);
  animation: modal-fade-in 1s cubic-bezier(0.3, 1.08, 0.18, 1.08);
}
.modal .container {
  color: #222;
  padding: 3em;
  position: absolute;
  display: block;
  width: 600px;
  height: 400px;
  z-index: 1001;
  background-color: #fff;
  -webkit-animation: modal-appear 0.5s cubic-bezier(0.3, 1.08, 0.18, 1.08);
  -moz-animation: modal-appear 0.5s cubic-bezier(0.3, 1.08, 0.18, 1.08);
  -o-animation: modal-appear 0.5s cubic-bezier(0.3, 1.08, 0.18, 1.08);
  -ms-animation: modal-appear 0.5s cubic-bezier(0.3, 1.08, 0.18, 1.08);
  animation: modal-appear 0.5s cubic-bezier(0.3, 1.08, 0.18, 1.08);
  -webkit-transform: translate(calc(50vw - 300px), calc(50vh - 200px));
  -moz-transform: translate(calc(50vw - 300px), calc(50vh - 200px));
  -o-transform: translate(calc(50vw - 300px), calc(50vh - 200px));
  -ms-transform: translate(calc(50vw - 300px), calc(50vh - 200px));
  transform: translate(calc(50vw - 300px), calc(50vh - 200px));
}
.modal.hide .greyout {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.modal.hide .container {
  -webkit-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
  -moz-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
  -o-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
  -ms-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
  transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
}
/* Pages */
.splashscreen {
  text-align: center;
  height: 420px;
  width: 420px;
  position: absolute;
  -webkit-transform: translate3d(calc(50vw - 210px), calc(50vh - 210px), 0px);
  -moz-transform: translate3d(calc(50vw - 210px), calc(50vh - 210px), 0px);
  -o-transform: translate3d(calc(50vw - 210px), calc(50vh - 210px), 0px);
  -ms-transform: translate3d(calc(50vw - 210px), calc(50vh - 210px), 0px);
  transform: translate3d(calc(50vw - 210px), calc(50vh - 210px), 0px);
}
.splashscreen .logo {
  margin-top: 40px;
}
.splashscreen #chart {
  background: #41b972;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(180deg, #41b972 0%, #298a51 40%, #298a51 58%, #41b972 100%);
  background-image: -moz-linear-gradient(180deg, #41b972 0%, #298a51 40%, #298a51 58%, #41b972 100%);
  background-image: -o-linear-gradient(180deg, #41b972 0%, #298a51 40%, #298a51 58%, #41b972 100%);
  background-image: -ms-linear-gradient(180deg, #41b972 0%, #298a51 40%, #298a51 58%, #41b972 100%);
  background-image: linear-gradient(-90deg, #41b972 0%, #298a51 40%, #298a51 58%, #41b972 100%);
  position: absolute;
  display: block;
  z-index: -10;
  width: 720px;
  height: 340px;
  margin: -290px -150px 20px -150px;
}
.splashscreen .front {
  padding-top: 3em;
  z-index: 12;
}
.splashscreen .front p {
  font-size: 0.7em;
  text-align: right;
  padding-right: 1em;
}
.splashscreen .front .backplate {
  background-color: #41b972;
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  z-index: -9;
}
.phoneform,
.phoneconfirm {
  height: 274px;
  width: 420px;
  text-align: center;
  -webkit-transform: translate3d(calc(50vw - 210px), calc(50vh - 135px), 0px);
  -moz-transform: translate3d(calc(50vw - 210px), calc(50vh - 135px), 0px);
  -o-transform: translate3d(calc(50vw - 210px), calc(50vh - 135px), 0px);
  -ms-transform: translate3d(calc(50vw - 210px), calc(50vh - 135px), 0px);
  transform: translate3d(calc(50vw - 210px), calc(50vh - 135px), 0px);
}
.phoneform > div,
.phoneconfirm > div {
  padding-top: 1em;
}
.phoneform input,
.phoneconfirm input {
  padding: 1em;
}
.phoneform p,
.phoneconfirm p,
.phoneform input,
.phoneconfirm input {
  margin: 2em 3em 0 3em;
}
.marketselector {
  height: 440px;
  width: 440px;
  text-align: center;
  -webkit-transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
  -moz-transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
  -o-transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
  -ms-transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
  transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
}
.alarms {
  height: 500px;
  width: 510px;
  -webkit-transform: translate3d(calc(50vw - 305px), calc(50vh - 250px), 0px);
  -moz-transform: translate3d(calc(50vw - 305px), calc(50vh - 250px), 0px);
  -o-transform: translate3d(calc(50vw - 305px), calc(50vh - 250px), 0px);
  -ms-transform: translate3d(calc(50vw - 305px), calc(50vh - 250px), 0px);
  transform: translate3d(calc(50vw - 305px), calc(50vh - 250px), 0px);
}
.alarms h2 {
  font-weight: normal;
  font-size: 1.4em;
  padding: 1.5em;
}
.alarms #chart {
  width: 510px;
  overflow: hidden;
}
.alarms #chart .alarm-line {
  padding: 2px;
  background-color: transparent;
}
.alarms #chart .alarm-line:hover {
  stroke-width: 3px;
  cursor: move;
}
.alarms .alarm-box {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(525px, 0px, 0px);
  -moz-transform: translate3d(525px, 0px, 0px);
  -o-transform: translate3d(525px, 0px, 0px);
  -ms-transform: translate3d(525px, 0px, 0px);
  transform: translate3d(525px, 0px, 0px);
}
.alarms .alarm-cursor {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.5em;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #41b972;
}
.alarms .alarm-cursor > * {
  display: inline;
  clear: none;
}
.alarms .alarm-cursor::before {
  cursor: move;
  position: absolute;
  display: block;
  background-color: #41b972;
  width: 10px;
  height: 10px;
  font-family: Arial;
  content: " ";
  z-index: -10;
  -webkit-transform: translate3d(-13px, 3px, 0px) rotate(45deg);
  -moz-transform: translate3d(-13px, 3px, 0px) rotate(45deg);
  -o-transform: translate3d(-13px, 3px, 0px) rotate(45deg);
  -ms-transform: translate3d(-13px, 3px, 0px) rotate(45deg);
  transform: translate3d(-13px, 3px, 0px) rotate(45deg);
}
.btcpay {
  height: 440px;
  width: 440px;
  text-align: center;
  -webkit-transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
  -moz-transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
  -o-transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
  -ms-transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
  transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
}
@-moz-keyframes modal-fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
  }
}
@-webkit-keyframes modal-fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
  }
}
@-o-keyframes modal-fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
  }
}
@-ms-keyframes modal-fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
  }
}
@keyframes modal-fade-in {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
  }
}
@-moz-keyframes modal-appear {
  0% {
    -webkit-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -moz-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -o-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -ms-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
  }

  100% {
    -webkit-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -moz-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -o-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -ms-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
  }
}
@-webkit-keyframes modal-appear {
  0% {
    -webkit-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -moz-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -o-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -ms-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
  }

  100% {
    -webkit-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -moz-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -o-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -ms-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
  }
}
@-o-keyframes modal-appear {
  0% {
    -webkit-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -moz-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -o-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -ms-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
  }

  100% {
    -webkit-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -moz-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -o-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -ms-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
  }
}
@-ms-keyframes modal-appear {
  0% {
    -webkit-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -moz-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -o-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -ms-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
  }

  100% {
    -webkit-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -moz-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -o-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -ms-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
  }
}
@keyframes modal-appear {
  0% {
    -webkit-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -moz-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -o-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    -ms-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
    transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(0);
  }

  100% {
    -webkit-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -moz-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -o-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    -ms-transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
    transform: translate(calc(50vw - 300px), calc(50vh - 200px)) scale(1);
  }
}
