html, body{
  height:100%;
  margin:0;
  padding:0;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  font-family: Arvo, Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #fff;
  background-color: #F1F1F1;
  overflow: hidden
}

* { box-sizing: border-box }

.login {
  position: absolute;
  cursor: pointer;
  font-size: 0.8em;
  top: 10px;
  right: 10px;
  width: auto;
  text-align: center;
  background: #41B972;
  padding: 0em 0.5em 0em 0.5em;
  margin: 0;
  line-height: 0.2em;
  border-radius: 2px;
}
.login:hover {
  background: #298A51;
}

.container {
  clear: both;
  height: 400px;
  position: relative;
  overflow: visible;
}

#chart{
  background: #41B972;
  border-radius: 4px;
  background-image: -o-linear-gradient(0deg, #41B972 0%, #298A51 40%, #298A51 58%, #41B972 100%);
  background-image: -moz-linear-gradient(0deg, #41B972 0%, #298A51 40%, #298A51 58%, #41B972 100%);
  background-image: -webkit-linear-gradient(0deg, #41B972 0%, #298A51 40%, #298A51 58%, #41B972 100%);
  background-image: -ms-linear-gradient(0deg, #41B972 0%, #298A51 40%, #298A51 58%, #41B972 100%);
  background-image: linear-gradient(-90deg, #41B972 0%, #298A51 40%, #298A51 58%, #41B972 100%);
  position: absolute;
  display: block;
  z-index: -10;
  width: 720px;
  height: 340px;
  margin: -290px -150px 20px -150px;
}

.box {
  background-color: #41B972;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
}

/*@-webkit-keyframes fade-in-anim {*/
  /*from  { opacity: 0; }*/
  /*to    { opacity: 1; }*/
/*}*/

.content {
  /*-webkit-animation-duration: 0.2s;*/
  /*-webkit-animation-delay: 0.3s;*/
  /*-webkit-animation-name: fade-in-anim;*/
}

.splashscreen{
  text-align: center;
  height: 420px;
  width: 420px;
  position: absolute;
  -webkit-transform: translate3d(calc(50vw - 210px), calc(50vh - 210px), 0px);
}

.front {
  padding-top: 3em;
  z-index: 12;
}

.box-footer {
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 2em;
  border-radius: 0px 0px 2px 2px;
  background: #FFFFFF;
}

.button {
  font-size: 1em;
  border-radius: 2px;
  background: #41B972;
  padding: 0.7em;
  color: #fff;
  text-decoration: none;
}

.backplate {
  background-color: #41B972;
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  z-index: -9;
}

.phoneform {
  height: 274px;
  width: 420px;
  text-align: center;
  -webkit-transform: translate3d(calc(50vw - 210px),calc(50vh - 135px),0px);
}

.phoneform > div {
  padding-top: 1em;
}

.phoneform input {
  padding: 1em;
  border-radius: 5px;
}

.phoneform p, .phoneform input {
  margin: 2em 3em 0 3em;
}

.logo{
  margin-top: 40px;
}

h1{
  font-size: 2.5em;
  line-height: 1.5em;
  padding: 5px;
  font-weight: normal;
}

h3{
  font-weight: normal;
  padding: 0 3em 0 3em;
}

.front p {
  font-size: 0.7em;
  text-align: right;
  padding-right: 1em;
}

input {
  font-family: Arvo, Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  padding: 10px;
  border-radius: 2px;
  border: 2px #41B972 solid;
}

input[type=email]{
  background-color: #fff;
  color: #298A51;
  outline:none;
}

input[type=submit]{
  color: #fff;
  cursor: pointer;
  background-color: #41B972;
}
input[type=submit]:hover{
  background-color: #298A51;
  border:2px solid #298A51;
}

.footer {
  color: #52BF7F;
  position:absolute;
  bottom: 0px;
  right: 1em;
}

/*
  Stuff for the alarms component
*/

.alarm-box {
  position: relative;
}

.alarm-cursor {
  position: absolute;
  left: 0;
  top: 0;
}
