* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arvo, Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #fff;
  background-color: #f1f1f1;
  overflow: hidden;
}
h1,
h2,
h3 {
  font-weight: normal;
}
h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  padding: 5px;
}
h3 {
  padding: 0 3em 0 3em;
}
select {
  background: #fff;
  font-size: 1em;
  color: #41b972;
  font-family: Arvo, Helvetica, Arial, sans-serif;
}
input {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: Arvo, Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  padding: 10px;
  border: 2px #41b972 solid;
  background-color: #fff;
  color: #298a51;
outlinenone
}
input[type=submit] {
  color: #fff;
  cursor: pointer;
  background-color: #41b972;
}
input[type=submit]hover {
  background-color: #298a51;
  border2px: solid #298a51;
}
.login {
  position: absolute;
  cursor: pointer;
  font-size: 0.8em;
  top: 10px;
  right: 10px;
  width: auto;
  text-align: center;
  background: #41b972;
  padding: 0em 0.5em 0em 0.5em;
  margin: 0;
  line-height: 0.2em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.loginhover {
  background: #298a51;
}
.footer {
  color: #52bf7f;
  position: absolute;
  bottom: 0px;
  right: 1em;
  font-size: 0.9em;
}
.box {
  background-color: #41b972;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.box .box-footer {
  background-color: #fff;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 2em;
  text-align: center;
  -webkit-border-radius: 0px 0px 2px 2px;
  border-radius: 0px 0px 2px 2px;
  background: #fff;
}
.box .box-footer .button {
  font-size: 1em;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #41b972;
  padding: 0.7em;
  color: #fff;
  text-decoration: none;
}
/* Pages */
.splashscreen {
  text-align: center;
  height: 420px;
  width: 420px;
  position: absolute;
  -webkit-transform: translate3d(calc(50vw - 210px), calc(50vh - 210px), 0px);
  -moz-transform: translate3d(calc(50vw - 210px), calc(50vh - 210px), 0px);
  -o-transform: translate3d(calc(50vw - 210px), calc(50vh - 210px), 0px);
  -ms-transform: translate3d(calc(50vw - 210px), calc(50vh - 210px), 0px);
  transform: translate3d(calc(50vw - 210px), calc(50vh - 210px), 0px);
}
.splashscreen .logo {
  margin-top: 40px;
}
.splashscreen #chart {
  background: #41b972;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(180deg, #41b972 0%, #298a51 40%, #298a51 58%, #41b972 100%);
  background-image: -moz-linear-gradient(180deg, #41b972 0%, #298a51 40%, #298a51 58%, #41b972 100%);
  background-image: -o-linear-gradient(180deg, #41b972 0%, #298a51 40%, #298a51 58%, #41b972 100%);
  background-image: -ms-linear-gradient(180deg, #41b972 0%, #298a51 40%, #298a51 58%, #41b972 100%);
  background-image: linear-gradient(-90deg, #41b972 0%, #298a51 40%, #298a51 58%, #41b972 100%);
  position: absolute;
  display: block;
  z-index: -10;
  width: 720px;
  height: 340px;
  margin: -290px -150px 20px -150px;
}
.splashscreen .front {
  padding-top: 3em;
  z-index: 12;
}
.splashscreen .front p {
  font-size: 0.7em;
  text-align: right;
  padding-right: 1em;
}
.splashscreen .front .backplate {
  background-color: #41b972;
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  z-index: -9;
}
.phoneform {
  height: 274px;
  width: 420px;
  text-align: center;
  -webkit-transform: translate3d(calc(50vw - 210px), calc(50vh - 135px), 0px);
  -moz-transform: translate3d(calc(50vw - 210px), calc(50vh - 135px), 0px);
  -o-transform: translate3d(calc(50vw - 210px), calc(50vh - 135px), 0px);
  -ms-transform: translate3d(calc(50vw - 210px), calc(50vh - 135px), 0px);
  transform: translate3d(calc(50vw - 210px), calc(50vh - 135px), 0px);
}
.phoneform > div {
  padding-top: 1em;
}
.phoneform input {
  padding: 1em;
}
.phoneform p,
.phoneform input {
  margin: 2em 3em 0 3em;
}
.marketselector {
  height: 440px;
  width: 440px;
  text-align: center;
  -webkit-transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
  -moz-transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
  -o-transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
  -ms-transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
  transform: translate3d(calc(50vw - 220px), calc(50vh - 220px), 0px);
}
.alarms {
  height: 500px;
  width: 510px;
  -webkit-transform: translate3d(calc(50vw - 305px), calc(50vh - 250px), 0px);
  -moz-transform: translate3d(calc(50vw - 305px), calc(50vh - 250px), 0px);
  -o-transform: translate3d(calc(50vw - 305px), calc(50vh - 250px), 0px);
  -ms-transform: translate3d(calc(50vw - 305px), calc(50vh - 250px), 0px);
  transform: translate3d(calc(50vw - 305px), calc(50vh - 250px), 0px);
}
.alarms h2 {
  font-weight: normal;
  font-size: 1.4em;
  padding: 1.5em;
}
.alarms .alarm-box {
  position: relative;
}
.alarms .alarm-cursor {
  position: absolute;
  left: 0;
  top: 0;
}
